* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.contenedorSolicitudes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tablaSolicitudes{
}