* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#containerResults{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.solicitud{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.icono{
    height: 60px;
    width: 50px;
}

.contenedorSearch{
    display: grid;
    grid-template-columns: 3fr 1fr;
}